@font-face {
    font-family: 'Bellerose';
    src: url('/Assets/fonts/Bellerose/BelleroseLight.woff2') format('woff2'),
        url('/Assets/fonts/Bellerose/BelleroseLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

